//clerk keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_FRONTEND_API=

//clerk urls
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

//for clerk you have to implement beckend-email-get  ---> clerk -> configure -> jwt template

//database url
DATABASE_URL=

//node environment
NODE_ENV=
NEXT_PUBLIC_BASE_URL=

//git hub oauth 
NEXT_PUBLIC_GITHUB_CLIENT_ID=   
GITHUB_CLIENT_SECRET=


//cloudinary keys
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


NEXT_PUBLIC_WS_URL= //for example: ws://localhost:3001
NEXT_PUBLIC_WS_URL_TERMINAL=:<name of url>.com //for example: https://dev-sync-ul1p.onrender.com to ://dev-sync-ul1p.onrender.com


//encrption git token
TOKEN_SECRET=
