PORT=
NODE_ENV=
CLERK_SECRET_KEY=
FRONTEND_URL=

RENDER_WS_URL=wss://----
DATABASE_URL=neon db


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


//encrption git token
TOKEN_SECRET=

